body
{
    background-color: #FFB800;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin:0px;
}
.logo
{
    height: 320px;
    width: 350px;
    border-right: solid red 8px;
    border-bottom: solid red 8px;
}